{% extends 'layout/base.html' %}
{% block title %}
Data Migration - Tasks
{% endblock title %}

{% block content %}
<div class="d-flex">
    {% include 'layout/sidebar.html' %}
    <div class="w-100">
        {% include 'layout/header.html' %}
        <div class="my-3 mx-3">
            {% include 'layout/subheader.html' %}            
            <div class="card">
                <div class="card-header text-center mb-2" style=" color: black; background-color:rgb(228, 248, 188);">
                    <a class="<i class="fas fa-plus"></i></a>
                    <b>Matters</b>
                </div>
                <table class="table-hover table-bordered table-sm small table" id="csv_tasklist">
                    <thead class="table-primary text-center">
                        <tr>
                            <th scope="col" style="width:3%;">#</th>
                            <th scope="col" style="width:15%;">Client Number</th>
                            <th scope="col" style="width:10%;">Account #</th>
                            <th scope="col" style="width:15%;">Activity Date</th>
                            <th scope="col" style="width:10%;">Prepared By</th>
                            <th scope="col" style="width:8%;">Particulars</th>
                            <th scope="col" style="width:5%;">Select</th>

                        </tr>
                    </thead>
                    {% for task in tasks %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{ task.ClientNo }}</td>
                        <td>{{ task.ApplicationNo }}</td>
                        <td>{{ task.ActivityDate }}</td>
                        <td>{{ task.CaseOfficer }}</td>
                        <td>{{ task.TaskDescription }}</td>
                        <td style="text-align: center;"><a class="btn btn-secondary btn-sm"
                                href="#" title="Select"><i
                                    class="far fa-hand-pointer"></i></a>
                        </td>
                    </tr>
                    {% endfor %}

                </table>
            </div>            
        </div>
    </div>
</div>
{% endblock content %}